<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
    <fieldset>
        <legend>{:lang('条件搜索')}</legend>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-inline">
                <input name="id" value="{$get.id|default=''}" placeholder="请输入用户ID" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-inline">
                <input name="nickname" value="{$get.nickname|default=''}" placeholder="请输入昵称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">手机</label>
            <div class="layui-input-inline">
                <input name="phone" value="{$get.phone|default=''}" placeholder="请输入手机" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">OpenID</label>
            <div class="layui-input-inline">
                <input name="openid" value="{$get.openid|default=''}" placeholder="请输入OpenID" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">AppID</label>
            <div class="layui-input-inline">
                <input name="appid" value="{$get.appid|default=''}" placeholder="请输入小程序AppID" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">设备型号</label>
            <div class="layui-input-inline">
                <input name="device_model" value="{$get.device_model|default=''}" placeholder="请输入设备型号" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="status" lay-append-to>
                    <option value="">-- 全部 --</option>
                    <option value="1" {eq name='$get.status|default=""' value='1'}selected{/eq}>正常</option>
                    <option value="0" {eq name='$get.status|default=""' value='0'}selected{/eq}>禁用</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">免广告</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="vip_no_ad" lay-append-to>
                    <option value="">-- 全部 --</option>
                    <option value="1" {eq name='$get.vip_no_ad|default=""' value='1'}selected{/eq}>开启</option>
                    <option value="0" {eq name='$get.vip_no_ad|default=""' value='0'}selected{/eq}>关闭</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary" data-form-search type="submit"><i class="layui-icon">&#xe615;</i> 搜索</button>
            <button type="button" data-form-export="{:url('index')}?type={$type|default=''}" class="layui-btn layui-btn-primary">
                <i class="layui-icon layui-icon-export"></i> {:lang('导 出')}
            </button>
        </div>
    </fieldset>
</form>

<script>
    require(['excel'], function (excel) {
        excel.bind(function (data) {
            // 设置表格内容
            data.forEach(function (item, index) {
                var vipTime = item.vip_time > 0 ? layui.util.toDateString(item.vip_time * 1000, 'yyyy-MM-dd HH:mm') : '未开通';
                var resolution = (item.screen_width && item.screen_height) ? (item.screen_width + 'x' + item.screen_height) : '--';
                var statusText = item.status > 0 ? '正常' : '禁用';
                var vipNoAdText = item.vip_no_ad > 0 ? '是' : '否';
                
                data[index] = [
                    item.id,
                    item.avatar_url || '',
                    item.nickname || '',
                    item.pid || 0,
                    item.appid || '',
                    vipTime,
                    item.score || 0,
                    item.down_total || 0,
                    vipNoAdText,
                    item.login_at || '',
                    item.login_ip || '',
                    item.last_login_at || '',
                    item.last_login_ip || '',
                    item.device_model || '',
                    item.device_system || '',
                    resolution,
                    item.sdk_version || '',
                    statusText,
                    item.create_at || ''
                ];
            });

            // 设置表头内容
            data.unshift([
                'ID', '头像', '昵称', '推荐人ID', 'AppID', '会员到期', 
                '积分', '累计下载', '免广告',
                '最近登录时间', '最近登录IP', '上次登录时间', '上次登录IP', 
                '设备型号', '系统版本', '分辨率', 'SDK版本', '状态', '注册时间'
            ]);

            // 应用表格样式
            return this.withStyle(data, {
                A: 60, B: 100, C: 120, D: 80, E: 150, F: 130, 
                G: 80, H: 80, I: 80, J: 150, K: 110, L: 150, 
                M: 110, N: 120, O: 100, P: 100, Q: 80, R: 60, S: 150
            });

        }, '用户列表_' + layui.util.toDateString(Date.now(), '_yyyyMMdd_HHmmss'));
    });
</script>
